h1{
    color: #fdfafa;
    
}
body{
   /* background-color: rgb(44, 92, 100);*/
    background-image: url(—Pngtree—taobao\ clothing\ store\ summer\ background_1187666.jpg);
}

header{
   background-color: rgb(7, 7, 7);

   
}


.shopping-cart-icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  
}


a{
    font-style: none;
    text-decoration: none; /*tirar barra */
    color: #fff; /*mudar cor*/
    
}

/*
ul, li{
    font-style: none;
    text-decoration: none;
    list-style-type: none;
}
/*

body{
    background-color: rgb(44, 92, 100);
}
header{
    background-color: rgb(7, 45, 78);
}

.nav-menu{
    display: flex;
  display: inline-block;
  text-align: center;
}

/* Estilos básicos para o menu */
nav {
    display: flex;
}

.nav-item {
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: flex;
  display: inline-block; 
    
}

.nav-item:last-child {
    margin-right: 0;
        
}

.nav-item a {
    text-decoration: none;
    color: #161616;
}

/* Estilos para o sub-menu */

.nav-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(12, 12, 12, 0.2);
    padding: 10px;
    min-width: 150px;
    
}

.nav-item:hover .nav-menu {
    display: block;
    
}

.nav-menu li a {
    display: block;
    padding: 5px 10px;
    color: #080808;
    text-decoration: none;
    text-align: center;
}

.nav-menu li a:hover {
    background-color: #070707;
}